# Assignment 4
# IE 5137 Computational Modelling in Industrial Engineering

### Question 1

For the two-dimensional array

<pre><code><strong>
a = np.array([[4.0, 7.0, -2.43, 67.1],
              [-4.0, 64.0, 54.7, -3.33],
              [2.43, 23.2, 3.64, 4.11],
              [1.2, 2.5, -113.2, 323.2]])
</pre></code></strong>
use array slicing to perform the following operations, printing the results to the screen:\
&nbsp;&nbsp;&nbsp;&nbsp;(a) Extract the square root of the third column as a 1D array\
&nbsp;&nbsp;&nbsp;&nbsp;(b) Extract the bottom right quadrant as a 2D sub-array\
&nbsp;&nbsp;&nbsp;&nbsp;(c) Extract all rows with an even index as a 2D sub-array\
&nbsp;&nbsp;&nbsp;&nbsp;(d) Extract all elements on the diagonal as a Python list\
Try to use slicing such that your code would still work if the dimensions of a were enlarged.

In [13]:
import numpy as np
a = np.array([[4.0,7.0,-2.43,67.1,1,1],
              [-4.0,64.0,54.7,-3.33,1,1],
              [2.43,23.2,3.64,4.11,1,1],
              [1.2,2.5,-113.2,323.2,1,1],
              [1,1,1,1,1,1],
              [1,1,1,1,1,1]])

In [14]:
a

array([[   4.  ,    7.  ,   -2.43,   67.1 ,    1.  ,    1.  ],
       [  -4.  ,   64.  ,   54.7 ,   -3.33,    1.  ,    1.  ],
       [   2.43,   23.2 ,    3.64,    4.11,    1.  ,    1.  ],
       [   1.2 ,    2.5 , -113.2 ,  323.2 ,    1.  ,    1.  ],
       [   1.  ,    1.  ,    1.  ,    1.  ,    1.  ,    1.  ],
       [   1.  ,    1.  ,    1.  ,    1.  ,    1.  ,    1.  ]])

In [6]:
a[2]**(1/2)

array([1.55884573, 4.81663783, 1.9078784 , 2.02731349])

In [15]:
i = int(a.shape[0]/2)
j = int(a.shape[1]/2)

a[i:,j:]

array([[323.2,   1. ,   1. ],
       [  1. ,   1. ,   1. ],
       [  1. ,   1. ,   1. ]])

In [18]:
i = int(a.shape[0])

a[0:i:2,::]

array([[ 4.  ,  7.  , -2.43, 67.1 ,  1.  ,  1.  ],
       [ 2.43, 23.2 ,  3.64,  4.11,  1.  ,  1.  ],
       [ 1.  ,  1.  ,  1.  ,  1.  ,  1.  ,  1.  ]])

In [58]:
b=[]
for i in range(a.shape[0]):
    for j in range(a.shape[1]):
        if i == j:
            b.append(a[i][j])

### Question 2

Create the following 5x5 array without typing it explicitly:
<pre><code><strong>
[[ 1  6 11 16 21]
 [ 2  7 12 17 22]
 [ 3  8 13 18 23]
 [ 4  9 14 19 24]
 [ 5 10 15 20 25]]
</pre></code></strong>

_(Hint: The transpose function might come in handy.)_

Then divide each column element-wise by the one-dimensional array:\
`b = np.array([1, 5, 10, 15, 20])`

In [19]:
c = np.array(range(1,26)).reshape(5,5).transpose()
c

array([[ 1,  6, 11, 16, 21],
       [ 2,  7, 12, 17, 22],
       [ 3,  8, 13, 18, 23],
       [ 4,  9, 14, 19, 24],
       [ 5, 10, 15, 20, 25]])

In [24]:
b = np.array([1,5,10,15,20]).reshape(5,1)
b

array([[ 1],
       [ 5],
       [10],
       [15],
       [20]])

In [25]:
c/b

array([[ 1.        ,  6.        , 11.        , 16.        , 21.        ],
       [ 0.4       ,  1.4       ,  2.4       ,  3.4       ,  4.4       ],
       [ 0.3       ,  0.8       ,  1.3       ,  1.8       ,  2.3       ],
       [ 0.26666667,  0.6       ,  0.93333333,  1.26666667,  1.6       ],
       [ 0.25      ,  0.5       ,  0.75      ,  1.        ,  1.25      ]])

### Question 3

Generate a 10x5 array of random numbers distributed uniformly between 0 and 1.\
For each row, extract the number closest to 0.5.

_(Hint: Use the abs and argmin functions to find the desired element for each row, then use fancy indexing (`a[i,j]` where both i and j are arrays) to pick those values out.)_

In [27]:
import random as r

d = np.random.rand(10,5)
print(d)

z = abs(d-0.5)
#print(z)

j = np.argmin(z,axis=1)
i = np.arange(10)

print(d[i,j])

[[0.19954328 0.4100295  0.59649994 0.91779434 0.70788695]
 [0.92334279 0.07826593 0.73269498 0.27890587 0.39931929]
 [0.95240765 0.72747743 0.57719203 0.08685144 0.84857157]
 [0.89782067 0.75340495 0.48919957 0.46873526 0.74896767]
 [0.17074025 0.05844532 0.29847524 0.7515238  0.77795881]
 [0.79900313 0.15909031 0.57472615 0.85897591 0.27971287]
 [0.96048089 0.622454   0.79063193 0.64071651 0.66540855]
 [0.34184442 0.67120305 0.98173705 0.70458723 0.17766662]
 [0.59111992 0.5450612  0.45872605 0.05887425 0.29209596]
 [0.22302992 0.53188436 0.00127691 0.78637313 0.10089774]]
[0.4100295  0.39931929 0.57719203 0.48919957 0.29847524 0.57472615
 0.622454   0.34184442 0.45872605 0.53188436]

### Question 4

Anonymized scores (out of 60) for an examination are stored in a NumPy array.

&nbsp;&nbsp;&nbsp;&nbsp;(a) Write a function that takes the raw scores and returns them as percentages, sorted from lowest to highest. _(Hint: Try using the NumPy sort method.)_ \
&nbsp;&nbsp;&nbsp;&nbsp;(b) Write a function that returns the maximum, minimum and mean raw scores as a dictionary with the keys 'min', 'max' and 'mean'. 

Test your functions using the scores:
`scores = np.array([58.0, 35.0, 24.0, 42, 7.8])`

In [66]:
scores = np.array([58,53,24,42,7.8])

In [65]:
def sort(x):
    x=x/60
    x.sort()
    return x

In [67]:
percent=sort(scores)
print(percent)

[0.13       0.4        0.7        0.88333333 0.96666667]

In [170]:
def stat(x):
    stats = {"Min":x.min(),"Max":x.max(),'Mean':x.mean()}
    return stats

In [171]:
stat(scores)

{'Min': 7.8, 'Max': 58.0, 'Mean': 36.96}

### Question 5

The position at time t of a ball dropped with zero initial velocity from a height h is given by

$$ y = h - \frac{gt^{2}}{2} $$

where $g = 9.8 m/s^{2}$. Suppose h = 10 m and the ball is dropped at t = 0.\
&nbsp;&nbsp;&nbsp;&nbsp;(a) Find the sequence of times when the ball passes each half meter.<br> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_(Hint: Create a NumPy array ranging from 10 to 0 in -0.5 increments, then solve the above equation for y.)_ \
&nbsp;&nbsp;&nbsp;&nbsp;(b) Find the average velocity (defined as $\frac{Δy}{Δt}$) for each time interval using NumPy arrays.\
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_(Hint: Given an array a with 20 elements, what are the arrays `a[1:20]` and `a[0:19]`?)_

In [37]:
import math
time =[]
def position(x):
    for i in x:
        t = math.sqrt(((2*10)-(2*i))/9.8)
        #print("at:{0}m the time is {1}s".format(i,round(t,3)))
        time.append(t)
    return time

In [38]:
e = np.arange(10,-0.5,-0.5)
e

array([10. ,  9.5,  9. ,  8.5,  8. ,  7.5,  7. ,  6.5,  6. ,  5.5,  5. ,
        4.5,  4. ,  3.5,  3. ,  2.5,  2. ,  1.5,  1. ,  0.5,  0. ])

In [39]:
times = position(e)
times = np.array(times).reshape(21,1)
times

array([[0.        ],
       [0.31943828],
       [0.45175395],
       [0.55328334],
       [0.63887656],
       [0.71428571],
       [0.7824608 ],
       [0.84515425],
       [0.9035079 ],
       [0.95831485],
       [1.01015254],
       [1.05945693],
       [1.10656667],
       [1.15175111],
       [1.19522861],
       [1.23717915],
       [1.27775313],
       [1.31707778],
       [1.35526185],
       [1.39239919],
       [1.42857143]])

In [33]:
delt = times[1:20]-times[0:19]
delt = delt.T

In [68]:
dele = e[0:19]-e[1:20]
dele = dele.T
dele

array([0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
       0.5, 0.5, 0.5, 0.5, 0.5, 0.5])

In [35]:
np.divide(dele[0:20],delt[0:20])

array([[ 1.56524758,  3.77884195,  4.9246827 ,  5.84158351,  6.63049517,
         7.3340579 ,  7.97531375,  8.56844457,  9.12293148,  9.64549022,
        10.14108641, 10.61351563, 11.06575711, 11.50020061, 11.91879801,
        12.32316816, 12.71467146, 13.09446421, 13.46353913]])

### Question 6

(a) Define a function that creates Pandas data frames of the form:

&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;&nbsp;&nbsp;&nbsp;B&nbsp;&nbsp;&nbsp;&nbsp;C&nbsp;&nbsp;&nbsp;&nbsp;D\
1&nbsp;&nbsp;A1&nbsp;&nbsp;B1&nbsp;&nbsp;C1&nbsp;&nbsp;D1\
2&nbsp;&nbsp;A2&nbsp;&nbsp;B2&nbsp;&nbsp;C2&nbsp;&nbsp;D2

i.e., that simulates the cell names from an Excel spreadsheet.

(b) Use your function to generate two data frames with overlapping, but differing sets of indices and column names. Then test the 4 different combinations of the join and axis parameters of the concat function using these frames.

In [54]:
def dataframe(cols, index):
    data = {column: [str(column)+str(i) for i in index] for column in cols}
    df = pd.DataFrame(data,index=index)
    return df

In [55]:
dataframe('ABCDE',range(1,4))

    A   B   C   D   E
1  A1  B1  C1  D1  E1
2  A2  B2  C2  D2  E2
3  A3  B3  C3  D3  E3

In [319]:
b = dataframe('CDEFG',range(3,6))

In [322]:
pd.concat([a,b],axis=0,join='outer')

     A    B   C   D   E    F    G
1   A1   B1  C1  D1  E1  NaN  NaN
2   A2   B2  C2  D2  E2  NaN  NaN
3   A3   B3  C3  D3  E3  NaN  NaN
3  NaN  NaN  C3  D3  E3   F3   G3
4  NaN  NaN  C4  D4  E4   F4   G4
5  NaN  NaN  C5  D5  E5   F5   G5

In [324]:
pd.concat([a,b],axis=0,join='inner')

    C   D   E
1  C1  D1  E1
2  C2  D2  E2
3  C3  D3  E3
3  C3  D3  E3
4  C4  D4  E4
5  C5  D5  E5

In [326]:
pd.concat([a,b],axis=1,join='outer')

     A    B    C    D    E    C    D    E    F    G
1   A1   B1   C1   D1   E1  NaN  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2   E2  NaN  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3   E3   C3   D3   E3   F3   G3
4  NaN  NaN  NaN  NaN  NaN   C4   D4   E4   F4   G4
5  NaN  NaN  NaN  NaN  NaN   C5   D5   E5   F5   G5

In [327]:
pd.concat([a,b],axis=1,join='inner')

    A   B   C   D   E   C   D   E   F   G
3  A3  B3  C3  D3  E3  C3  D3  E3  F3  G3

### Question 7

Download the latest US COVID daily report from https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports_us, and import it into Python as a data frame, setting the state name as the index. Then perform the following operations:

&nbsp;&nbsp;&nbsp;&nbsp;(a) Remove any empty columns and any rows with more than 20% of the values missing.\
&nbsp;&nbsp;&nbsp;&nbsp;(b) Display the states with the lowest and highest testing and mortality rates. Hint: use sorting\
&nbsp;&nbsp;&nbsp;&nbsp;(c) Print descriptive statistics for confirmed COVID cases, recoveries, and deaths. Hint: use slicing\
&nbsp;&nbsp;&nbsp;&nbsp;(d) Group the states into low and high testing rates (compared to the median), and compute the average mortality rate within each group. Hint: Add a new &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; column storing the grouping variable

In [63]:
import pandas as pd
data = pd.read_csv("D:\Semester_3\Computational Modeling\Assignments\Assignment_4\covid_data.csv")
data

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-10-20 04:30:29,32.3182,-86.9023,173485,2789,74238.0,96458.0,1.0,3538.210367,1260100.0,NaN,1.607632,84000001,USA,25699.621776,NaN
1,Alaska,US,2020-10-20 04:30:29,61.3707,-152.4044,11182,67,6516.0,4599.0,2.0,1528.545749,536223.0,NaN,0.599177,84000002,USA,73300.070399,NaN
2,American Samoa,US,2020-10-20 04:30:29,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1616.0,NaN,NaN,16,ASM,2904.333136,NaN
3,Arizona,US,2020-10-20 04:30:29,33.7298,-111.4312,231897,5830,38553.0,187514.0,4.0,3185.959833,1639785.0,NaN,2.514047,84000004,USA,22528.489568,NaN
4,Arkansas,US,2020-10-20 04:30:29,34.9697,-92.3731,99597,1714,89217.0,8666.0,5.0,3300.313738,1223914.0,NaN,1.720935,84000005,USA,40556.444355,NaN
5,California,US,2020-10-20 04:30:29,36.1162,-119.6816,879645,16982,NaN,862663.0,6.0,2226.260466,17042408.0,NaN,1.930552,84000006,USA,43131.989815,NaN
6,Colorado,US,2020-10-20 04:30:29,39.0598,-105.3111,86351,2180,7176.0,76995.0,8.0,1499.478358,1689313.0,NaN,2.524580,84000008,USA,29334.788051,NaN
7,Connecticut,US,2020-10-20 04:30:29,41.5978,-72.7554,64021,4554,9651.0,49816.0,9.0,1795.675916,2039597.0,NaN,7.113291,84000009,USA,57207.091603,NaN
8,Delaware,US,2020-10-20 04:30:29,39.3185,-75.5071,23196,666,12113.0,10417.0,10.0,2382.096689,329018.0,NaN,2.871185,84000010,USA,33788.269026,NaN
9,Diamond Princess,US,2020-10-20 04:30:29,NaN,NaN,49,0,NaN,49.0,88888.0,NaN,NaN,NaN,0.000000,84088888,USA,NaN,NaN
10,District of Columbia,US,2020-10-20 04:30:29,38.8974,-77.0268,16395,641,12824.0,2930.0,11.0,2323.063865,469040.0,NaN,3.909729,84000011,USA,66459.888714,NaN
11,Florida,US,2020-10-20 04:30:29,27.7663,-81.6868,756727,16021,NaN,740706.0,12.0,3523.308810,5739283.0,NaN,2.117144,84000012,USA,26722.009865,NaN
12,Georgia,US,2020-10-20 04:30:29,33.0406,-83.6431,341310,7657,NaN,333653.0,13.0,3214.621853,3314279.0,NaN,2.243415,84000013,USA,31215.474791,NaN
13,Grand Princess,US,2020-10-20 04:30:29,NaN,NaN,103,3,NaN,100.0,99999.0,NaN,NaN,NaN,2.912621,84099999,USA,NaN,NaN
14,Guam,US,2020-10-20 04:30:29,13.4443,144.7937,3756,66,2350.0,1340.0,66.0,2287.050399,59549.0,NaN,1.757188,316,GUM,36259.734882,NaN
15,Hawaii,US,2020-10-20 04:30:29,21.0943,-157.4983,14068,187,11044.0,2837.0,15.0,993.592641,477316.0,NaN,1.329258,84000015,USA,33711.804457,NaN
16,Idaho,US,2020-10-20 04:30:29,44.2405,-114.4788,53790,531,25980.0,27279.0,16.0,3009.963264,353190.0,NaN,0.987172,84000016,USA,19763.690744,NaN
17,Illinois,US,2020-10-20 04:30:29,40.3495,-88.9861,350744,9496,NaN,341248.0,17.0,2767.905260,6827824.0,NaN,2.707388,84000017,USA,53881.947985,NaN
18,Indiana,US,2020-10-20 04:30:29,39.8494,-86.2583,149166,3960,108462.0,36744.0,18.0,2215.703322,2533863.0,NaN,2.654760,84000018,USA,37637.857592,NaN
19,Iowa,US,2020-10-20 04:30:29,42.0115,-93.2105,108060,1548,82188.0,24324.0,19.0,3424.963630,835573.0,NaN,1.432537,84000019,USA,26483.501158,NaN
20,Kansas,US,2020-10-20 04:30:29,38.5266,-96.7265,71557,870,2415.0,68272.0,20.0,2456.206231,598394.0,NaN,1.215814,84000020,USA,20539.976123,NaN
21,Kentucky,US,2020-10-20 04:30:29,37.6681,-84.6701,88247,1326,17229.0,69692.0,21.0,1975.234087,1698815.0,NaN,1.502601,84000021,USA,38024.604755,NaN
22,Louisiana,US,2020-10-20 04:30:29,31.1695,-91.8678,175982,5766,161792.0,8424.0,22.0,3785.540938,2597464.0,NaN,3.276471,84000022,USA,55873.932035,NaN
23,Maine,US,2020-10-20 04:30:29,44.6939,-69.3819,5961,146,5175.0,640.0,23.0,443.456836,549477.0,NaN,2.449253,84000023,USA,40877.257456,NaN
24,Maryland,US,2020-10-20 04:30:29,39.0639,-76.8021,136154,4041,7892.0,124221.0,24.0,2252.087441,3103833.0,NaN,2.967963,84000024,USA,51339.683873,NaN
25,Massachusetts,US,2020-10-20 04:30:29,42.2302,-71.5301,144488,9753,118892.0,15843.0,25.0,2096.306668,5239651.0,NaN,6.750042,84000025,USA,76019.567928,NaN
26,Michigan,US,2020-10-20 04:30:29,43.3266,-84.5361,164123,7363,109539.0,47221.0,26.0,1643.389907,4335624.0,NaN,4.486269,84000026,USA,43413.298098,NaN
27,Minnesota,US,2020-10-20 04:30:29,45.6945,-93.9002,124439,2292,109963.0,12184.0,27.0,2206.509219,2511395.0,NaN,1.841866,84000027,USA,44531.185723,NaN
28,Mississippi,US,2020-10-20 04:30:29,32.7416,-89.6787,110592,3171,97675.0,9746.0,28.0,3715.942985,840136.0,NaN,2.867296,84000028,USA,28228.962999,NaN
29,Missouri,US,2020-10-20 04:30:29,38.4561,-92.2884,160437,2600,NaN,157837.0,29.0,2614.075473,2296674.0,NaN,1.620574,84000029,USA,37420.789295,NaN
30,Montana,US,2020-10-20 04:30:29,46.9219,-110.4544,23390,241,13538.0,9611.0,30.0,2188.480676,442366.0,NaN,1.030355,84000030,USA,41389.886394,NaN
31,Nebraska,US,2020-10-20 04:30:29,41.1254,-98.2681,58817,554,38956.0,19307.0,31.0,3040.568484,543213.0,NaN,0.941905,84000031,USA,28081.614634,NaN
32,Nevada,US,2020-10-20 04:30:29,38.3135,-117.0554,90843,1712,2330.0,86801.0,32.0,2949.298672,750947.0,NaN,1.884570,84000032,USA,24380.161265,NaN
33,New Hampshire,US,2020-10-20 04:30:29,43.4525,-71.5639,9746,468,8258.0,1020.0,33.0,716.769961,543562.0,NaN,4.801970,84000033,USA,39976.289079,NaN
34,New Jersey,US,2020-10-20 04:30:29,40.2989,-74.5210,221205,16214,35944.0,169047.0,34.0,2490.433103,4217705.0,NaN,7.329852,84000034,USA,47484.967108,NaN
35,New Mexico,US,2020-10-20 04:30:29,34.8405,-106.2485,37302,935,19894.0,16473.0,35.0,1778.971962,1054891.0,NaN,2.506568,84000035,USA,50308.871157,NaN
36,New York,US,2020-10-20 04:30:29,42.1657,-74.9481,485279,33366,78442.0,373471.0,36.0,2494.550998,12982175.0,NaN,6.875632,84000036,USA,66734.183012,NaN
37,North Carolina,US,2020-10-20 04:30:29,35.6301,-79.8064,247172,3939,218541.0,24692.0,37.0,2356.693558,3648364.0,NaN,1.593627,84000037,USA,34785.800724,NaN
38,North Dakota,US,2020-10-20 04:30:29,47.5289,-99.7840,32637,408,26392.0,5837.0,38.0,4282.722403,741160.0,NaN,1.250115,84000038,USA,97257.178550,NaN
39,Northern Mariana Islands,US,2020-10-20 04:30:29,15.0979,145.6739,86,2,29.0,55.0,69.0,155.955317,15542.0,NaN,2.325581,580,MNP,28184.389961,NaN
40,Ohio,US,2020-10-20 04:30:29,40.3888,-82.7649,183624,5075,151037.0,27512.0,39.0,1570.899385,3941567.0,NaN,2.763800,84000039,USA,33720.021216,NaN
41,Oklahoma,US,2020-10-20 04:30:29,35.5653,-96.9289,108073,1173,92367.0,14533.0,40.0,2731.205258,1435605.0,NaN,1.085377,84000040,USA,36280.402358,NaN
42,Oregon,US,2020-10-20 04:30:29,44.5720,-122.0709,39794,627,5870.0,33297.0,41.0,943.491735,788509.0,NaN,1.575614,84000041,USA,18695.072737,NaN
43,Pennsylvania,US,2020-10-20 04:30:29,40.5908,-77.2098,188381,8475,146652.0,33254.0,42.0,1471.497906,2327281.0,NaN,4.498861,84000042,USA,18179.057957,NaN
44,Puerto Rico,US,2020-10-20 04:30:29,18.2208,-66.5901,57950,768,25939.0,31243.0,72.0,1975.517896,363922.0,NaN,1.325280,630,PRI,12406.116026,NaN
45,Rhode Island,US,2020-10-20 04:30:29,41.6809,-71.5118,28347,1159,2546.0,24642.0,44.0,2675.858371,977911.0,NaN,4.088616,84000044,USA,92311.402817,NaN
46,South Carolina,US,2020-10-20 04:30:29,33.8569,-80.9450,164609,3661,82637.0,78311.0,45.0,3197.089603,1610200.0,NaN,2.224058,84000045,USA,31273.828766,NaN
47,South Dakota,US,2020-10-20 04:30:29,44.2998,-99.4388,33836,323,25125.0,8388.0,46.0,3824.750554,232450.0,NaN,0.954605,84000046,USA,26275.661017,NaN
48,Tennessee,US,2020-10-20 04:30:29,35.7478,-86.6923,232061,2922,205832.0,23307.0,47.0,3398.082989,3383392.0,NaN,1.259152,84000047,USA,49543.209764,NaN
49,Texas,US,2020-10-20 04:30:29,31.0545,-97.5635,856948,17481,729762.0,109705.0,48.0,2955.412874,7384043.0,NaN,2.039914,84000048,USA,25465.834268,NaN
50,Utah,US,2020-10-20 04:30:29,40.1500,-111.8624,95562,546,71035.0,23981.0,49.0,2980.762692,980659.0,NaN,0.571357,84000049,USA,30588.641523,NaN
51,Vermont,US,2020-10-20 04:30:29,44.0459,-72.7107,1946,58,1696.0,192.0,50.0,311.864472,179597.0,NaN,2.980473,84000050,USA,28782.077889,NaN
52,Virgin Islands,US,2020-10-20 04:30:29,18.3358,-64.8963,1335,21,1296.0,18.0,78.0,1244.546370,22852.0,NaN,1.573034,850,VIR,21303.650669,NaN
53,Virginia,US,2020-10-20 04:30:29,37.7693,-78.1700,166360,3454,19096.0,143810.0,51.0,1949.032039,2398111.0,NaN,2.076220,84000051,USA,28095.667059,NaN
54,Washington,US,2020-10-20 04:30:29,47.4009,-121.4905,98661,2258,NaN,96403.0,53.0,1295.632125,2230785.0,NaN,2.288645,84000053,USA,29295.027520,NaN
55,West Virginia,US,2020-10-20 04:30:29,38.4912,-80.9545,20293,402,14799.0,5092.0,54.0,1132.328989,687990.0,NaN,1.980979,84000054,USA,38389.149997,NaN
56,Wisconsin,US,2020-10-20 04:30:29,44.2685,-89.6165,173891,1600,136910.0,35381.0,55.0,2986.568847,1886955.0,NaN,0.920117,84000055,USA,32408.353620,NaN
57,Wyoming,US,2020-10-20 04:30:29,42.7560,-107.3025,9311,57,6796.0,2458.0,56.0,1608.787077,118065.0,NaN,0.612179,84000056,USA,20399.682770,NaN

In [58]:
data.shape

(58, 18)

In [59]:
data.dropna()

Empty DataFrame
Columns: [Province_State, Country_Region, Last_Update, Lat, Long_, Confirmed, Deaths, Recovered, Active, FIPS, Incident_Rate, People_Tested, People_Hospitalized, Mortality_Rate, UID, ISO3, Testing_Rate, Hospitalization_Rate]
Index: []

In [60]:
for i in data.columns:
    if data[i].isnull().sum() >= (0.20*(data.shape[0])):
        print("column: ",i)
        data.drop(i,axis=1,inplace=True)
    
#data = data.dropna(axis = 0, how = "any", thresh = int(0.2 * a.shape[1]))
#indices = []
#for i in range(data.shape[0]):
#    if (data.iloc[i].isnull().sum()) >= (0.20*data.shape[1]):
#        indices.append(data.index[i])
#        print("row no: ",data.index[i])

#data.drop(indices,axis=0,inplace=True)

#data.reset_index(drop=True,inplace=True)

column:  People_Hospitalized
column:  Hospitalization_Rate

In [61]:
data.shape

(58, 16)

In [64]:
People = data.sort_values(by='Testing_Rate')
#print(People)
print("tested min: ",People.iloc[0]['Province_State'])
print("tested max: ",People.iloc[-1]['Province_State'])

mortality = data.sort_values(by='Mortality_Rate')
print("mortality min: ",mortality.iloc[0]['Province_State'])
print("mortality max: ",mortality.iloc[-1]['Province_State'])

tested min:  American Samoa
tested max:  Grand Princess
mortality min:  Diamond Princess
mortality max:  American Samoa

In [32]:
focus = data.loc[:,'Confirmed':'Recovered']
focus.describe()

           Confirmed        Deaths      Recovered
count      56.000000     56.000000      49.000000
mean   146657.660714   3930.642857   66787.816327
std    192078.703010   6010.388886  112637.173388
min         0.000000      0.000000      29.000000
25%     27107.750000    515.250000    7892.000000
50%     97111.500000   1656.000000   25939.000000
75%    173586.500000   4169.250000   92367.000000
max    879645.000000  33366.000000  729762.000000

In [35]:
sort = data.sort_values(by='People_Tested')
median = sort['People_Tested'].median()
#print(median)
data.reset_index()
for i in range(len(data)):
    if data.at[i,'People_Tested'] > median:
        data.at[i,'group'] = 'high'
    else:
        data.at[i,'group'] = 'low'

1242007.0

In [48]:
group = data.groupby(['group'])
high = group.get_group('high').mean()['Mortality_Rate']
low = group.get_group('low').mean()['Mortality_Rate']

print("Mortality Rate for High testing: ",high)
print("Mortality Rate for low testing: ",low)

Mortality Rate for High testing:  2.957637523197492
Mortality Rate for low testing:  1.908990590310143

### Question 8

Write a script that computes the Euclidean distance between two points stored as Pandas series in the following format:
<pre><code><strong>
x    25.50
y     3.20
z    -0.24
Name: v, dtype: float64
</pre></code></strong>

i.e., with the index attribute storing the coordinate names. Include checks that the two points have the same dimensionality and the same coordinate names. Ensure coordinates are aligned before computing the distance.\
Test your code using the following two points:\
`p = pd.Series({'x':25.5, 'y':3.2, 'z':-0.24})`\
`q = pd.Series({'z':7.3, 'x':-4.62, 'y':-1.4})`\
The result should be:\
31.38830992583067

In [42]:
p = pd.Series({"x":25.5,"y":3.2,"z":-0.24})
q = pd.Series({"z":7.3,"x":-4.62,"y":-1.4})

In [38]:
def euclindean(p,q):
    euclideandist = 0
    if p.size == q.size:
        for a in p.index:
            for b in q.index:
                if a==b:
                    euclideandist +=((q[b]-p[a])**2)
        euclideandist = math.sqrt(euclideandist)
        print(euclideandist)
    else:
        print("Dimensions dont match")

In [43]:
euclindean(p,q)

31.38830992583067